$redColor:#e74b48;//红色字体/评测 推荐背景色
$blueColor:#1792fa;//绿色字体/字体hover颜色/资讯背景色
$bottomColor:#ffd800; //标题下划线颜色
$textColor:#5b5b5b; //文本颜色
$tabColor:#1e1e1e; //tab切换字体颜色
$buyColor:#ff7e00; //购买背景颜色
$rankColor:#ffcc00; //排名背景颜色
$briefColor:#333333; //简介文本颜色