
.charge_container{
    width: 1190px;
    margin: 0 auto;
    color: #536174;
    font-size: 12px;
}
.charge_title li{
    width: 190px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
    text-indent: 24px;
    background: rgba(2,2,10,.2);
    cursor: pointer;
}
.charge_title li.cur{
    color: #828f9e;
    background: #10131f;
}
.charge_title li:hover{
    color: #828f9e;
}
.charge_title li:hover i{
}
.charge_title li.cur i,.charge_title li:hover i{
    background-position:-50px -218px;
}
.charge_title li.cur i.wx,.charge_title li:hover i.wx{
    background-position:-68px -218px;
}
.charge_title li.cur i.bank,.charge_title li:hover i.bank{
    background-position:-86px -218px;
}
.charge_title li i{
    width: 18px;
    height: 18px;
    position: absolute;
    left: 60px;
    top: 50%;
    margin-top: -9px;
    background: url("../images/register.png") no-repeat -50px -200px;
}
.charge_title li i.wx{background-position: -68px -200px;}
.charge_title li i.bank{background-position: -86px -200px;}
.in_charge_container{width: 940px;background: rgba(2,2,10,.4);padding: 30px;}
.in_charge_con h4{
    line-height: 18px; border-left: 3px solid #2dddf5;
    font-size: 16px;
    padding-left: 6px;
}
.in_charge_con .charge_sel span{
    text-align: center;
    line-height: 28px;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 10px;
    width: 84px;
    background: #1d232f;
}
.in_charge_con .charge_sel span.cur{background: #2d3747; color: #828f9e;}
.in_charge_con p.con{
    margin: 30px 0 30px 10px;
    font-size: 14px;
}
.charge_sel_con li{display: none;}
.charge_sel_con li.cur{display: block;}
.in_charge_con .platform_balance,.in_charge_con .sel_server{margin-left:40px;}
.in_charge_con select{
    outline: none;
    background: #384355;
    border: none;
    line-height: 32px;
    height: 32px;
    color:#828f9e;
    padding: 0 0 0 10px;
}
.in_charge_con .charge_num span,.other_num span.other_title,.other_num span input{
    width: 110px;
    line-height: 30px;
    text-align: center;
    background: #212736;
    display: inline-block;
    border: 1px solid #212736;
    cursor: pointer;
}
.in_charge_con .charge_num span.cur{
    border: 1px solid #7b96c3;
    background: #536174;
    color: #fff;
}
.other_num span.other_title{
    color:#828f9e;
    border-right: 1px solid #536174;

}
.other_num .errorMsg{
    left: 0px;
    top: 32px;
}
.errorMsg{display: none;}
.other_num span input{
    width: 220px;
    cursor: default;
    text-align: left;
    text-indent: 10px;
    color: #828f9e;
}
.other_num span i{
    width: 16px;
    height: 16px;
    background: url("../images/register.png") no-repeat -105px 0;
    right: -26px;
    top: 50%;
    margin-top: -8px;
}
.other_num span i span{
    width: 330px;
    padding: 0 40px;
    line-height: 50px;
    border: 1px solid #000;
    background: #151920;
    left: 26px;
    top: 50%;
    margin-top: -25px;
    display: none;
}
.other_num span i:hover span{
    display: block;
}
.charge_btn i{
    width: 112px;
    line-height: 32px;
    color: #169bd6;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #22a1bf;
    border-radius: 2px;
}
.charge_btn i.cur{
    background: #22a1bf;
    color: #fff;
}
.charge_btn i:active{
    background: #22a1bf;
    color: #fff;
}
.charge_btn i:hover{
    background: #2cdef5;
    color: #fff;
}
.sel_pay span{display: none;}
.sel_pay span.cur{display: block;}
.tips_con{
    height: 120px;
    padding: 20px;
    margin: 30px 0 ;
    text-align: left;
    border: 1px solid #293141;
    font-size: 12px;
}
.mal30{margin-left: 60px;}
.tips_con p{line-height: 30px;}
.in_charge_con h4 i{
    width: 17px;
    height: 17px;
    background: url("../images/register.png") no-repeat -121px 0;
    left: -20px;
    top: 50%;
    margin-top: -8.5px;
}
.other_num .mal30{line-height: 32px;}
.pay_v,.pay_tips{margin-left: 10px;padding: 10px;width: 556px; background: #1d232f;}
.pay_v p,.pay_tips p{line-height: 42px;font-size: 14px;}
.pay_v .mal30{padding-left: 20px;}
.use_v{display:none;}
.pay_tips{width: 910px;margin-bottom: 30px; display: none;}
.pay_tips p{line-height: 30px;}
.pay_tips span{width:38px;height: 38px; background: url("../images/register.png") no-repeat -121px -200px;margin: 16px; }