.login_container{
    width: 1190px;
    height: 435px;
    margin: 0 auto;
    color: #afb1b4;
}
.login_con{
    width: 890px;
    height: 100%;
    background: rgba(0,0,0,.2);
}
.login_con .login,.login_con .register{
    width: 380px;
    margin:46px 0 0 60px;
}
.login_con .login .in_login{margin-left: -40px;padding-right: 20px; border-right: 1px solid #2a3343;}
.login_con .login h4,.login_con .register h4{margin-bottom: 40px;}
.login_con .login p,.login_con .register p{width: 294px;display: inline-block; line-height: 38px;}
.login_con .register p.f14{line-height: 42px;}
.login_con .register p.f12{line-height: 24px;}
.login_con .register p.btn{margin: 130px 0 0 -10px;}
.login_con .login p input,.register_con input{
    width: 294px;
    line-height: 38px;
    margin: 15px 0;
    outline: none;
    border: 1px solid #2a3343;
    background: #141924;
    text-indent: 30px;
    color: #afb1b4;
}
.register_con p i{width: 14px; height: 16px; background: url("../images/register.png") no-repeat -60px 0; top: 50%; left: 72px; margin-top: -8px;}
.register_con p i.pwd_icon{background-position: -74px 0 ;}
.register_con p i.yzm{background-position: -88px 0 ;}
.register_con p i:hover{background-position-y:  -16px;-o-background-position-y:  -16px;-moz-background-position-y:  -16px;-webkit-background-position-y:  -16px;}
.register_con input{margin: 6px 0;width: 330px;}
.login_con .login p  input:focus,.register_con input:focus{border: 1px solid  #23a0bf;}
.download_vr{width: 290px;height: 100%; background: rgba(0,0,0,.2)}
span.erro_msg{color: #fff;  left: 0; top:50px;text-indent: 16px; display: none;}
span.erro_msg i{width: 13px;height: 13px; background: url("../images/register.png") no-repeat -16px -16px;top:50%; margin-top: -6.5px;left: 0;}

.login_con .rem_pwd{height: 38px;}
.login_con .rem_pwd span{ line-height: 36px; display: inline-block;text-indent: 24px;}
.login_con .btn,.download_vr .btn{width: 100%;height: 40px; line-height: 40px; background: #2cdef5; border-radius: 4px;
    cursor: pointer;margin-top: 38px;color: #fff;}
.login_con .btn:hover,.download_vr .btn:hover{background: #22a1bf;}
.third_login a{
    color: #929dae;font-size: 12px;width: 32%;display: inline-block;
}
.third_login a i{
    width: 12px;
    height: 15px;
    background: url("../images/register.png") no-repeat -16px 0;
    left: 10px;
    top: 50%;
    margin-top: -7.5px;
}
.third_login a:hover{color:#c4d9f3;}
.third_login a i.wx{background-position: -28px 0;width: 16px;left: 6px;}
.third_login a i.wb{background-position: -44px 0;width: 14px;left: 6px;}
.register_con{margin-left: -46px;}
.download_vr .title{margin: 50px 0 36px;}
.download_vr .img_box{width: 234px;height: 170px; background: url("../images/register.png") no-repeat 0 -32px;display: inline-block;}
.download_vr .btn{width: 160px;display: inline-block;margin-top: 49px;}
.register_con h4{ margin:46px 0 0 80px; }
.register_con span{width: 110px; text-align: right;display: inline-block;margin:0 10px 0 -60px;}
.register_con label{display: inline-block;margin: 5px 0}
.register_con span.erro_msg{left: 470px;top: 50%; margin-top: -8px; display: none;width: 400px;}
.register_con img{
    right: 1px;
    top: 7px;
    width: 84px;
    height: 38px;
}
.register_con .btn{width: 330px;display: inline-block;margin:73px 0 0 62px;}
.find_pwd .btn{margin-top:12px; }
.register_con .has_aco span{width: 330px; text-align: right; display: inline-block;margin:10px 0 0 62px;}
.suc_register{display: none;}
.suc_register h4{margin-top: 140px;width: 120px; display: inline-block; text-indent: 40px;line-height: 80px;}
.suc_register h4 i{width: 45px; height: 45px; background: url("../images/register.png") no-repeat 0 -200px;left: 0; top: 50%; margin-top: -22.5px;}
.suc_register .btn{width: 190px;display: inline-block;}

.sel{
    width: 16px;
    height: 16px;
    top: 50%;
    left: 0;
    margin:-8px 0 0 0;
    background: url("../images/register.png") no-repeat 0 0;
}
.sel.selected{background-position: 0 -16px;}