/*公共样式*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,    
form,fieldset,input,textarea,p,blockquote,th,td {    
    padding: 0;    
    margin: 0;    
}    
table {    
    border-collapse: collapse;    
    border-spacing: 0;    
}    
fieldset,img {    
    border: 0;    
}    
address,caption,cite,code,dfn,em,strong,th,var {    
    font-weight: normal;    
    font-style: normal;    
}    
ol,ul,li{    
    list-style: none;    
}    
caption,th {    
    text-align: left;    
}    
h1,h2,h3,h4,h5,h6 {    
    font-weight: normal;    
    font-size: 100%;    
}    
q:before,q:after {    
    content:”;    
}    
abbr,acronym {    
    border: 0;    
}
.fl{
	float:left;
} 
.fr{
	float:right;
}
.clearfloat:after{
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0;
} 
.clearfloat{
	zoom:1;
} 
input{
	-webkit-appearance:none; /*去除input默认样式*/
	border:none;
	outline:none;
}
a{
	text-decoration:none;
	font-size:12px;
	font-family:'微软雅黑','PingFangSC-Light';
	/*font: 100%/120% Verdana, Arial, Helvetica, sans-serif; */
}

/*头部样式*/
.header{
	position:fixed;
	top:0;
	width:100%;
	background: rgba(11,15,20,0.6);
	height:72px;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	font-size:14px;
	z-index:999;
}
.header .top{
	position:relative;
	width:1240px;
	margin:0 auto;
	line-height:72px;
}
.header .top .left a{
	padding-left:30px;
}
.header .top .left .home_logo{
	display:inline-block;
	padding-left:0;
}
.header .top .left img{
	text-align:center;
	vertical-align: middle;
	cursor:pointer;
}
.header a{
	font-size:14px;
	color:#909090;
}
.header .sy{
	color:#FFFFFF;
}
.header .blue{
	width:140px;
	position:absolute;
	top:0;
	right:126px;
	color:#0096ff;
	padding-left:22px;
	background:url(../images/down.png) no-repeat left center;
}
.header .login{
	padding:0 8px 0 48px;
/*	border-right:1px solid #909090;*/
}
.header .language{
	height:60px;
}
.header .language span{
	padding-right:20px;
	padding-bottom:10px;
	background:url(../images/triangle.png) no-repeat 36px 10px;
}
.header .top .right .change_language{
	display: none;
	width:50px;
	margin-top:10px;
}
.header .language:hover .change_language{
	display: block;
}
.header .top .right .change_language p{
	position:relative;
	top:-30px;
	width:50px;
	height:30px;
	line-height:30px;
	text-align: center;
	background:#1c202a;
	margin-left:198px;
}
.header .top .right .change_language p:hover{
	color:#b1d0f7;
	background:#2666b2;
}
.header .top .right .change_language .chinese{
	border-bottom:1px solid #FFFFFF;
}
/*登录之后样式*/
.header .login_user{
	display:inline-block;
	position:relative;
	top:-24px;
	margin-left:30px;
	width:120px;
}
.header .login_user .user_pic{
	margin-top:40px;
	width:30px;
	height:30px;
	border:1px solid #101720;
	border-radius:50%!important;
	-moz-border-radius:50%!important;
	-webkit-border-radius:50%!important;
	overflow:hidden;
}
.header .login_user .user_pic img{
	position:relative;
	top:-11px;
	width:32px;
	height:32px;
	cursor:pointer;
}
.header .login_user .user_detail{
	margin:40px 0 0 6px;
	height:30px;
}
.header .login_user .user_detail .grade{
	width:80px;
	height:30px;
}
.header .login_user .user_detail .level2{
	width:14px;
	height:11px;
	background:url(../images/VRicon.png) no-repeat -494px -334px;
}
.header .login_user .user_detail .level_num{
	position:relative;
	top:-31px;
	left:4px;
	font-size:12px;
}
.header .login_user .user_detail h3{
	height:30px;
	line-height:30px;
	color:#FFFFFF;
	/*background:url(../images/VRicon.png) no-repeat -442px -299px;*/
	width:70px;
	overflow: hidden;  
	white-space: nowrap;  
	text-overflow: ellipsis;
	-o-text-overflow:ellipsis;
	cursor:pointer; 
}
.header .login_user .user_detail h3 span{
	margin-left:6px;
	padding-left:10px;
	background:url(../images/VRicon.png) no-repeat -496px -298px;
}

.header .login_user ul li{
	height:28px;
}
.header .login_user ul{
	display:none;
	width:98px;
	margin:10px 0 0 10px;
	border:1px solid #000000;
	background: #1c202a;
}
.header .login_user ul li{
	height:28px;
	line-height:28px;
	color:#a3b3c8;
	border-top:1px solid #303846;
}
.header .login_user ul li a{
	display:block;
/*	width:138px;*/
	height:29px;	
}
.header .login_user ul li span{
	display:inline-block;
	width:18px;
	height:18px;
	margin-left:12px;
/*	margin-right:10px;*/
	background:url(../images/newVRhome.png) no-repeat -237px -38px;	
}
.header .login_user ul .change span{
	background:url(../images/VRicon.png) no-repeat -270px -233px;	
}
.header .login_user ul .switch span{
	background:url(../images/VRicon.png) no-repeat -270px -251px;	
}
.header .login_user ul .quit span{
	background:url(../images/newVRhome.png) no-repeat -216px -37px;	
}
.header .login_user ul .geren{
	margin:3px 0;
	height:24px;
	line-height:24px;
	background:#384355;
}
.header .login_user ul .geren:hover span{
	background:url(../images/newVRhome.png) no-repeat -237px -16px;	
}
.header .login_user ul .quit:hover span{
	background:url(../images/newVRhome.png) no-repeat -216px -16px;	
}
.header .login_user:hover ul{
	display:block;
}
/*导航栏*/
.sec_nav{
	width:1240px;
	margin:0 auto;
	margin-top:92px;
}
.sec_nav .nav{
	margin:20px 0 16px 0;
	background-color:#20426b;
	border:1px solid #294971;
}
.sec_nav .nav ul li{
	position:relative;
	height:38px;
	width:96px;
	text-align: center;
}
.sec_nav .nav ul li a{
	display:block;
	width:100%;
	height:24px;
	line-height:24px;
	padding:7px 0;
}
.sec_nav .nav ul li span{
	cursor:pointer;
	display:block;
	font-size:14px;
	color:#828f9e;
	border-right:1px solid #1e527c;
}
.sec_nav .nav ul li:hover{
	background:#23588c;
	color:#b1d0f7;
}
.sec_nav .nav ul li:hover span{
	color:#b1d0f7;
}
.sec_nav .nav ul li a.cur{
	background:#23588c;
}
.sec_nav .nav ul li a.cur span{
	color:#b1d0f7;
}
.sec_nav .con{
	display:none;
	position:absolute;
	left:0px;
	top:38px;
	width:96px;
	z-index:10;
}
.sec_nav .con a{
	display:block;
	height:38px;
	line-height:38px;
	border-bottom:1px solid #20426b;
	text-align: center;
	background:#245480;
}
.sec_nav .con a:hover{
	background:#2666b2;
	color:#b1d0f7;
}
.sec_nav .nav .search{
	width:220px;
	height:28px;
	margin:4px 0;
	background-color:#152f53;
	margin-right:22px;
}
.sec_nav .nav .search .txt{
	width:160px;
	height:28px;
	padding-left:10px;
	color:#FFFFFF;
	margin-top:-20px;
	position:relative;
	top:-10px;
	background: rgba(0,0,0,0);
}
/*侧边栏*/
.side{
	position:relative;
	width:1240px;
	margin:0 auto;
}
.sideCon{
	position:fixed;
	right:0;
	bottom:200px;
	width:56px;
	font-size:12px;
	margin-left:20px;
	text-align: center;
	color:#6e7987;
	line-height:20px;
	z-index:99;
}
.sideCon ul li{
	background:#3b4659;
	border:1px solid #000000;
}
.sideCon ul li a{
	display:block;
	padding:10px;
	width:32px;
	height:32px;
	border:1px solid #4f596a;
}
.sideCon ul li a span{
	text-indent:-99999px;
}
.sideCon ul li:last-child{
	margin-top:9px;
}
.sideCon span{
	display:block;
	width:32px;
	height:32px;
}
.sideCon .service{
	background:url(../images/VRicon.png) no-repeat -17px -67px;
}
.sideCon .sina{
	background:url(../images/VRicon.png) no-repeat -20px -107px;
}
.sideCon .code{
	background:url(../images/VRicon.png) no-repeat -20px -146px;
}
.sideCon .up{
	background:url(../images/VRicon.png) no-repeat -18px -184px;
}
.sideCon ul li:hover span{
	background:none;
	text-indent:0px;
	font-size:14px;
	line-height:18px;
	color:#b5c2d0;
}
.sideCon ul li:hover .code{
	background:url(../images/VRicon.png) no-repeat -474px -4px;
}
.sideCon ul li:hover .follow{
	display:block!important;
}
.sideCon ul .follow{
	display:none;
	position:absolute;
	left:-190px;
	top:0;
	width:188px;
	height:330px;
	background:url(../images/codebg.png) no-repeat;
}
.sideCon ul li .qq_follow{
	top:20px;
	background:url(../images/qqcodebg.png) no-repeat;
}
.sideCon ul li .sina_follow{
	top:76px;
	background:url(../images/qqcodebg.png) no-repeat;
}
.sideCon ul li:hover .service{
	width:40px;
	height:40px;
	margin-left:-4px;
}
.sideCon ul .follow img{
	width:126px;
	margin:16px 0 0 -4px;
}
.sideCon ul .follow p{
	padding-top:4px;
	height:35px;
	line-height:35px;
	color:#b5c2d0;
}
/*footer样式*/
.footer{
	width:100%;
	min-width:1240px;
	background:#0d1219;
	padding:30px 0;
}
.footer .foot_logo{
	display:block;
	width:50px;
	margin:0 auto;
	border:none!important;
}
.footer img{
	cursor:pointer;
}
.footer .foot{
	width:1240px;
	margin:0 auto;
	text-align:center;
}
.footer .foot span{
	color:#535d60;
}
.footer .foot .aboutUS{
	margin:20px 0 30px 0;
	height:15px;
	line-height:14px;
	overflow:hidden;
}
.footer .foot .aboutUS a{
	color:#23a0bf;
	border-right:1px solid #23a0bf;
}
.footer .foot div:nth-child(3){
	margin-bottom:30px;
	height:14px;
	line-height:14px;
	overflow:hidden;
}
.footer .foot a{
	font-size:14px;
	padding:0 10px 0 7px;
	border-right:1px solid #859398;
	color:#535c61;
}
.foot span{
	color:#909090;
}
.footer .foot p{
	font-size:14px;
	line-height:24px;
	color:#535d60;
}
.footer .foot .none{
	border:none!important;
}
.footer .foot div:nth-child(3) span{
	font-size:14px;
}
.footer .foot p span{
	margin-left:10px;
}